extends ../layouts/mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
block content
    if isEmpty
        .infoMsg
            p There is no products
    else    
        .mainContainer
            each prod in products
                .productContainer
                    img.productImage(src=prod.img alt='')
                    .aboutProducts
                        p.productName #{prod.name}
                        p.productPrice #{prod.price}$
                        p.productDestription #{prod.description}
                        .buttonWrapper
                            form(action="/admin/deleteproduct", method="post")
                                input(type="hidden", name="productID", value=prod.id)
                                input(type="hidden", name="_csrf", value=csrfToken)
                                button(type="submit").stdButton Delete
                            a(href="/admin/products/"+prod.id)
                                button(type="button").stdButton Edit
        .pagination        
            if currentPage!==1
                a(href=`/admin/products?page=${currentPage-1}`)
                    i.fas.fa-angle-left.paginationArrow        
            a(href=`/admin/products?page=1`) 
                button.paginationButton(class=(currentPage===1 ? 'activePaginationButton' : '')) #{1} 
            if pages > 1
                if pages <= 7 
                    - var i = 2
                    while (i<pages)
                        a(href=`/admin/products?page=${i}`) 
                            button.paginationButton(class=(currentPage===i ? 'activePaginationButton' : '')) #{i} 
                        - i++
                else                     
                    if (currentPage>4 && currentPage<pages-3)
                        span.dots ...
                        - var i = 0
                        while (i<5)
                            a(href=`/admin/products?page=${currentPage-2+i}`) 
                                button.paginationButton(class=(currentPage===currentPage-2+i ? 'activePaginationButton' : '')) #{currentPage-2+i}
                            - i++
                        span.dots ...
                    else
                        if (currentPage<=4)
                            - var i = currentPage+1
                            - var i2 = 2
                            while (i>0)
                                a(href=`/admin/products?page=${i2}`) 
                                    button.paginationButton(class=(currentPage===i2 ? 'activePaginationButton' : '')) #{i2}                    
                                - i--
                                - i2++
                            span.dots ...
                        else
                            span.dots ... 
                            - var i = 2+pages-currentPage
                            - var i2 = currentPage -2
                            while (i>0)
                                a(href=`/admin/products?page=${i2}`) 
                                    button.paginationButton(class=(currentPage===i2 ? 'activePaginationButton' : '')) #{i2}                    
                                - i--
                                - i2++                    
                a(href=`/admin/products?page=${pages}`) 
                    button.paginationButton(class=(currentPage===pages ? 'activePaginationButton' : '')) #{pages}            
                if currentPage!==pages
                    a(href=`/admin/products?page=${currentPage+1}`)
                        i.fas.fa-angle-right.paginationArrow