extends ../layouts/mainLayout.pug
block styles 
    link(rel="stylesheet", href="/css/order.css")
block content       
    if orders.length>0 
        each order in orders
            .orderContainer
                if order.isSent
                    .orderSendInfo.sent
                        p Sent
                else                    
                    .orderSendInfo.notSent
                        p Not sent
                h3 #{order.orderDate}
                h4 Order data
                p #{order.name} #{order.surname}
                p #{order.email}
                p #{order.postCode}, #{order.city} 
                p #{order.streetAdress}, #{order.country}        
                    each prod in order.products
                        .orderProductContainer
                            img.orderProductImage(src=prod.imageURL, alt="")
                            p.orderProductData #{prod.name}
                            p.orderProductData #{prod.price}$
                            p.orderProductData Quantity: #{prod.quantity}                                
                    .wholeValueContainer
                        p.wholeValueData Whole price
                        p.wholeValueData #{order.wholePrice}$
                    a(href=`/invoices/${order.orderId}`)
                        button.stdButton Invoice
        .pagination        
            if currentPage!==1
                a(href=`/myorders?page=${currentPage-1}`)
                    i.fas.fa-angle-left.paginationArrow        
            a(href=`/myorders?page=1`) 
                button.paginationButton(class=(currentPage===1 ? 'activePaginationButton' : '')) #{1} 
            if pages > 1
                if pages <= 7 
                    - var i = 2
                    while (i<pages)
                        a(href=`/myorders?page=${i}`) 
                            button.paginationButton(class=(currentPage===i ? 'activePaginationButton' : '')) #{i} 
                        - i++
                else                     
                    if (currentPage>4 && currentPage<pages-3)
                        span.dots ...
                        - var i = 0
                        while (i<5)
                            a(href=`/myorders?page=${currentPage-2+i}`) 
                                button.paginationButton(class=(currentPage===currentPage-2+i ? 'activePaginationButton' : '')) #{currentPage-2+i}
                            - i++
                        span.dots ...
                    else
                        if (currentPage<=4)
                            - var i = currentPage+1
                            - var i2 = 2
                            while (i>0)
                                a(href=`/myorders?page=${i2}`) 
                                    button.paginationButton(class=(currentPage===i2 ? 'activePaginationButton' : '')) #{i2}                    
                                - i--
                                - i2++
                            span.dots ...
                        else
                            span.dots ... 
                            - var i = 2+pages-currentPage
                            - var i2 = currentPage -2
                            while (i>0)
                                a(href=`/myorders?page=${i2}`) 
                                    button.paginationButton(class=(currentPage===i2 ? 'activePaginationButton' : '')) #{i2}                    
                                - i--
                                - i2++                    
                a(href=`/myorders?page=${pages}`) 
                    button.paginationButton(class=(currentPage===pages ? 'activePaginationButton' : '')) #{pages}            
                if currentPage!==pages
                    a(href=`/myorders?page=${currentPage+1}`)
                        i.fas.fa-angle-right.paginationArrow    
    else
        .infoMsg
            p You have no orders.
