extends ../layouts/mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
block content
    .productContainer
        img.productImage(src=img alt='')
        .aboutProducts
            p.productName #{pname}
            p.productPrice #{price}$
            p.productDestription #{description}
            form(action="/cart", method="post")
                input(type="hidden", name="productID", value=id)
                button(type="submit").stdButton Add to cart
